@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@300&display=swap');

* {
    box-sizing: border-box;
}

header {
    padding: 10px 0 10px 0;
}


/* added main to add padding between nav bar */

main {
    padding: 20px 0 20px 0;
}



/* changed the font family from poppins to railway */
body{
    width: 90%; 
    margin: 2em auto;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5em;
   
}


nav ul,
aside {
    list-style: none;
    padding: 0;
}

nav a:link,
nav a:visited {
    border: 2px solid #eab676;
    text-decoration: none;
    display: block;
    padding: 25px;
    color: #063970;
    box-shadow: 10px 10px 5px grey;

}

.errata {
    border: 1px solid #17706e;
    padding: 10px; 
    box-shadow: 10px 10px 5px grey;
    /* font: Poppins sans-serif;  */
    
}


.sidecolumn {
    border: 1px solid #154c79; 
    padding: 10px; 
    background-color: rgb(234,182,118);
    box-shadow: 10px 10px 5px grey;  
}




article { 
    
   
    background-color: #f7f7ee
    
}

.content {
    
    background-color: #f7f7ee;
    border: 1px solid #17706e;
    padding: 1em; 
    box-shadow: 10px 10px 5px grey;
    background-color: #17706e;

}

.content2{
    background-color: #eeeee4;
   
}

/* added the nth child element */

p:nth-child(3) { 
    background: #b6eb7a;
}article and nav menu

@media screen and (min-width: 50em) {
article { 
    display: grid;
    grid-template-columns: 3fr 2fr; 
    column-gap: 20px;
 } 

nav ul {
    display: flex; 
}

nav li {
    flex: 1;
}
}

main { 
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
}

footer {
    border-top: 1px solid #1e81b0;
    margin-top: 4em;
}

