@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,300&family=Raleway:wght@500&display=swap") * {
    box-sizing: border-box;
  }
  
  /* added header to add padding at top above the nav bar? */
  
  header {
    padding: 10px 0 10px 0;
  }
  
  /* added main to add padding betwen nav bar */
  main {
    padding: 20px 0 20px 0;
  }
  
  /* changed the font family from poppins to railway */
  body {
    width: 90%;
    margin: 2em auto;
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Raleway", sans-serif;
    margin-bottom: 5em;
    background-color: #f3fbfc;
  }
  
  /* added a box shadow */
  nav ul,
  aside {
    list-style: none;
    padding: 0;
    box-shadow: 10px 10px 5px grey;
  }
  
  nav a:link,
  nav a:visited {
    border: 2px solid #eab676;
    text-decoration: none;
    display: block;
    padding: 25px;
    color: #063970;
    box-shadow: 10px 10px 5px grey;
  }
  
  
  .content {
    font-size: 16px;
    border: 1px solid #17706e;
    padding: 3em;
    box-shadow: 10px 10px 5px grey;
   background-color: #eeeee4;
   text-align: center;
  }

  h4 {
      margin-top: 5em;
  }
  
#button1, #button2 {
    background-color: #eea153;
   
    margin-bottom: 10em;

}

input[type="text"] {
    width: 110px;
}
  
  @media screen and (min-width: 425px) {
  
    nav ul {
      display: flex;
    }
  
    nav li {
      flex: 1;
    }


  }
  
  @media screen and (min-width: 768px) {
 
  
    footer {
      border-top: 1px solid #1e81b0;
      margin-top: 4em;
    }
  }
  
  

