@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* added header to add padding at top above the nav bar? */

header {
    padding: 10px 0 10px 0;
}
body {
    background-image: linear-gradient(120deg, #80a4aa, #a0b9c2);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

nav a:link,
nav a:visited
 {  
    border: 2px solid #eab676;
    text-decoration: none;
    display: block;
    padding: 25px;
    color: #063970;
    box-shadow: 10px 10px 5px grey;
   
}

header {
    font-size: 1rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color:  #80a4aa;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #a0b9c2 ;
    color: white;

}

@media screen and (min-width: 425px) {
    
    nav ul {
        display: flex; 
    }

    nav li {
        flex: 1;
    }
}

@media screen and (min-width: 768px) {
    main { 
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 10px;
        
     } 
    }