@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,300&family=Raleway:wght@500&display=swap')

*{
  
  box-sizing: border-box;

}

body{
    
    margin: 10px auto;
    font-family: 'Raleway', sans-serif;
    
}

.wrapper{
 
  top: 100px;
  left: 50%;
  max-width: 1000px; 
  
  
  background: #fff;
  padding: 25px; 
  border-radius: 10px;
  box-shadow: 10px 10px 15px 5px grey;
}

.wrapper h3{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
 } 

 .input_field{
  margin-bottom: 10px;
} 

 .input_field input[type="text"] {
 border: 1.5px solid #c7e3f3;
  width: 100%;
  padding: 12px 1px;}

.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 1px;
  resize: none;
  height: 100px;
}

#error_message{
  margin-bottom: 20px;
  background: #8bddfe;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.wrapper{ 
 border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  
  background: #f7f7ee;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

.btn input[type="submit"]{
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #8b9cca;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
  }

  

     